body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.125rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  & section {
    background-color: var(--blue-300);
    border-radius: 1.5rem;
    width: 30rem;
    height: 33rem;

    border: 2px solid var(--blue-500);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    

    & form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5rem;
      padding-top: 2rem;
      padding-inline: 2rem;

      & label {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 22rem;
      }

      & button {
        width: 22rem;
      }
    }
    & footer {
      background-color: var(--blue-800);
      display: flex;
      flex-direction: column;
      gap: .5rem;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

    }
  }
}